---
title: Redes para la ciencia
date: 2011-12-22 22:44:35.000000000 +00:00
type: post
published: true
status: publish
categories:
- Ciencia
tags:
- Ciencia
---



<img src="/images/punset31.jpg" class="center-block">
<p style="text-align:justify;">
Eduard Punset nació en Barcelona - España, es abogado, economista y comunicador científico. Se preocupa por transmitir el conocimiento científico de diversos aspectos de nuestras vidas a las personas no muy dedicadas a la ciencia ayudandonos a entender diversas situaciones del día a día a través de explicaciones científicas. Para los interesados en conocer más acerca de él y de la valiosa información que brinda con cada oración que emite, pueden revisar el link de su programa redes en:
</p>
<p style="text-align:justify;">
<a href="http://www.redesparalaciencia.com/6542/redes/redes-115-los-genes-que-regulan-la-personalidad">http://www.redesparalaciencia.com/6542/redes/redes-115-los-genes-que-regulan-la-personalidad</a>
</p>
<p style="text-align:justify;">
Además pueden ver su revista en:
</p>
<p style="text-align:justify;">
<a href="http://www.eduardpunset.es/revista-redes">http://www.eduardpunset.es/revista-redes</a>
</p>
