---
title: Probabilidades de la vida
date: 2012-10-02 00:00:56.000000000 +01:00
type: post
published: true
status: publish
categories:
- Probabilidades
tags:
- Probabilidades
---



<p style="text-align:justify;">
Este capítulo de Redes para la ciencia nos muestra que las probabilidades están en los sucesos que vivimos día a día. Aunque existen ciertos errores con las probabilidades y los porcentajes presentados, es una manera muy interesante y entretenida de hablar de probabilidades con todo el mundo.
</p>
<p style="text-align:justify;">
Denle al enlace para que puedan ver este programa con Eduardo Punset y Amir Aczel.
</p>
<p>
<a href="http://www.redesparalaciencia.com/7252/redes/redes-125-descifrar-las-probabilidades-e-la-vida">http://www.redesparalaciencia.com/7252/redes/redes-125-descifrar-las-probabilidades-e-la-vida</a>
</p>
