---
title: Mapas en el paquete de "Métodos para datos espaciales" (sp) en R
date: 2012-02-11 17:59:20.000000000 +00:00
type: post
published: true
status: publish
categories:
- Software R
tags:
- mapa de lima
- Software R
---



<p style="text-align:justify;">
Para trabajar con este paquete podemos descargar la información georeferenciada de <a href="http://gadm.org/" class="uri">http://gadm.org/</a> de cualquier país, lo malo es que a mayor nivel de detalle tal como distritos existen discrepancias con la realidad. De todas maneras este paquete resulta interesante y útil a la hora de trabajar con datos georeferenciados y mucho más si son datos propios. A continuación se muestra un código para obtener el mapa de Lima por provincias directo desde el Software R.
</p>
<pre class="r"><code>library(sp)
peru &lt;- readRDS(&quot;PER_adm2.rds&quot;)
# Para descargar el mapa http://gadm.org/country
# En la misma página también se puede descargar para departamentos y
# provincias
# solo se cambia PER_adm2.RData por PER_adm0.RData,PER_adm1.RData o
# PER_adm3.RData
names(peru)
# Hasta ahora el mapa y sus características están cargados en gadm por
# provincias
mapalima &lt;- peru[peru@data$NAME_1 == &quot;Lima&quot;,] # Seleccionamos las provincias
# de lima (polígonos y datos) Aquí tu indicaste otros números pero la data
# ha cambiado y esos son los actuales que tienen las provincias de lima.
datalima &lt;- data.frame(mapalima) # Seleccionamos solo los datos de la
# provincias
# Los nombres de las provincias pueden ser obtenidas de 2 maneras:
datalima[7]; mapalima$NAME_2;
#creamos el factor según los nombres de las provincias elegidas
mapalima$provincias &lt;- factor(mapalima$NAME_2)
#la función factor es para eliminar los niveles que no existen
col &lt;- rainbow(length(levels(mapalima$provincias ))) # asignamos los
# colores según los niveles
# mostramos el mapa
spplot(mapalima, provincias, col.regions = col, main = &quot;Lima Provincias&quot;)
# Además lo siguiente es por si se desea el mapa con texto
# (puede ser en vectores)
d1 &lt;- list(sp.text,c(-75.99853,-11.), &quot;Estadística&quot;)
spplot(mapalima, provincias, col.regions = col, main = &quot;Lima Provincias&quot;,
   sp.layout = list(d1))</code></pre>
<p style="text-align:justify;">
El resultado del mapa es el siguiente (Por supuesto que puede ser mejorado según sus intereses):
</p>
<img src="/images/rplot.jpeg" alt="example">
<p style="text-align:justify;">
Por otro lado, también se muestra ,a continuación, el código para obtener los distritos del departamento de Lima:
</p>
<pre class="r"><code>library(sp)
#descargamos los datos por distritos
gadm &lt;- readRDS(&quot;PER_adm3.rds&quot;)

# elegimos solo los distritos de lima
mapalima &lt;- gadm[(gadm@data$NAME_2  == &quot;Lima&quot;) |
                  gadm@data$NAME_3  == &quot;Callao&quot; |
                  gadm@data$NAME_3  == &quot;Ventanilla&quot;,]
dataprovlima &lt;- data.frame(mapalima)
limageo &lt;- mapalima[1]

mapalima$distritos &lt;- distritos# asignamos el factor

# mostramos el mapa
spplot(mapalima, distrito, col.regions = col,
   main = &quot;Distritos del Departamento de Lima&quot;)</code></pre>
<p style="text-align:justify;">
Espero que les sea útil =).
</p>
