---
title: 'Redes para la ciencia: Robots para saber cómo somos'
date: 2012-04-05 18:05:43.000000000 +01:00
type: post
published: true
status: publish
categories:
- Ciencia
- Informática
tags:
- Deb Roy
- Eduard Punset
- Informática
---
<p>Otro capítulo maravilloso de Eduard Punset en Redes para la Ciencia:</p>
<p style="text-align:justify;">En donde Deb Roy (Ingeniero Informático del MIT) explica como realizó un estudio de investigación grabando a su hijo por 2 años, almacenando 300 Gb por día, para poder entender los factores principales que hacen que un niño aprenda a hablar y así poder implementar esta capacidad a un robot. Lo importante es que la idea es que una vez que se pueda adaptar esta capacidad a un robot, se podría experimentar en él para entender de manera mas compleja como es que somos y como es que aprendemos (muy semejante al objetivo de realizar modelación, en donde deseamos abstraer la realidad mediante modelos para poder entender el impacto que traen consigo ciertas variaciones en las variables o decisiones).</p>
<p style="text-align:justify;">En el siguiente link puedes ver el capítulo completo:</p>
<p style="text-align:justify;"><a href="http://www.redesparalaciencia.com/7017/redes/redes-118-robots-para-saber-como-somos">http://www.redesparalaciencia.com/7017/redes/redes-118-robots-para-saber-como-somos</a></p>
