---
title: "¿Porqué usar la media armónica?"
date: 2012-04-07 20:55:38.000000000 +01:00
type: post
published: true
status: publish
categories:
- Estadística Descriptiva
- Estadística Inferencial
tags:
- Estadística Descriptivo
- Estadística Inferencial
- promedio
---



<p style="text-align:justify;">
Recuerdo cuando llevé la clase de Estadística Descriptiva, y también la de Inferencia Paramétrica, nos presentaron estadísticos descriptivos como el promedio aritmético, geométrico y armónico. En ese instante no tenía ni la mas vaga idea de cuando utilizar el promedio armónico ya que al parecer, no podía interpretar, aquella fórmula, de una manera más comprensible o que de pistas de una interpretación clara tal como lo es el promedio aritmético. Cuento esto, porque me imagino que muchos se sienten identificados y por ello quiero compartir un ejemplo que hace un tiempo atrás revisé, espero que resulte de su interés. Es el siguiente:
</p>
<p style="text-align:justify;">
Imagine que se esta estudiando la velocidad promedio de los vehículos en una vía definida, de la cual se tiene conocimiento de su longitud o distancia <span class="math inline">\(distancia = d\)</span>. Ahora, se sabe que para estudiar este parámetro o estimarlo, se necesita un número de vehículos que realicen el recorrido por la vía bajo condiciones semejantes <span class="math inline">\(t(muestra) = n\)</span> de manera que:
</p>
<p>
<span class="math inline">\(\overline{v} = \frac{\overline{d}}{\overline{t}}= \frac{\displaystyle\sum\limits_{i=1}^n \frac{d_i}{n}}{\overline{t}}\)</span>
</p>
<p>
En donde <span class="math inline">\(d_i\)</span> es la distancia recorrida por el i-ésimo vehículo. Pero para nuestro caso, como las medidas son tomadas en una misma longitud de vía, <span class="math inline">\(d_1=d_2=...=d_n = d\)</span>. De tal manera que la ecuación queda reducida a:
</p>
<p>
<span class="math inline">\(\overline{v} = \frac{d}{\overline{t}}= \frac{d}{\displaystyle\sum\limits_{i=1}^n \frac{t_i}{n}}= \frac{nd}{\displaystyle\sum\limits_{i=1}^n t_i}\)</span>
</p>
<p>
<span class="math inline">\(\overline{v} = \frac{nd}{\displaystyle\sum\limits_{i=1}^n t_i} ...(1)\)</span>
</p>
<p>
Además recuerde que:<br />
<span class="math inline">\(t_i= \frac{d_i}{v_i}=\frac{d}{v_i} ...(2)\)</span>
</p>
<p>
En donde <span class="math inline">\(t_i\)</span> es el tiempo de recorrido de cada vehículo y <span class="math inline">\(v_i\)</span> es la velocidad promedio de cada vehículo .
</p>
<p>
Ahora reemplazando (2) en (1).
</p>
<p>
<span class="math inline">\(\overline{v} = \frac{nd}{\displaystyle\sum\limits_{i=1}^n \frac{d}{v_i}}\)</span>
</p>
<p>
La constante d se elimina y obtenemos:
</p>
<p>
<span class="math inline">\(\overline{v} = \frac{n}{\displaystyle\sum\limits_{i=1}^n \frac{1}{v_i}}\)</span>
</p>
<p>
lo cual viene a ser el promedio armónico. Conocido como velocidad-promedio espacio en la Simulación de Tráfico.
</p>
