---
title: "¿Cómo actualizar Debian 7 Wheezy?"
date: 2013-06-17 23:37:02.000000000 +01:00
type: post
published: true
status: publish
categories:
- Debian
- Informática
- Linux
tags:
- Debian
- Linux
---



<p>
<strong>Debian 7 Wheezy</strong> es la última actualización estable de las distribución Debian en Linux. Hasta ahora me ha funcionado perfectamente y es por ello que deseo mostrar algunos pasos y sitios web que me funcionaron perfectamente para su actualización e instalaciones de programas que para mi caso son importantes.
</p>
<p>
<strong>0) Instalar de Debian 7 Wheezy:</strong>
</p>
<p style="padding-left:30px;">
Para los que desean instalar el Debian 7 Wheezy, descargar el instalador en <a href="http://www.debian.org/CD/http-ftp/" class="uri">http://www.debian.org/CD/http-ftp/</a>, los tipos de descarga son  CD y DVD. Los CDs son instaladores ligeros, requieren de conexión internet para su buena instalación mientras que los DVD son más completos y no requieren de conexión a internet para culminar la instalación.
</p>
<p>
<strong>1) Actualización de Debian Wheezy:</strong>
</p>
<p style="padding-left:30px;">
<strong>1.1) Preparamos nuestro sistema actual.</strong> Ejecutar los siguientes comando en la consola como superusuario:
</p>
<pre class="bash"><code>aptitude update
aptitude upgrade
aptitude clean</code></pre>
<p style="padding-left:30px;">
Realizamos este paso porque se recomienda que no existan problemas de dependencias entre los paquetes. En caso contrario tratar de arreglar ello o intentar la actualización creando un backup como respaldo.
</p>
<p style="padding-left:30px;">
<strong>1.2) Actualizar la lista de repositorios</strong> para descargar e instalar los paquetes del Debian 7 Wheezy.
</p>
<p style="padding-left:30px;">
Para ello, se debe modificar el archivo   /etc/apt/sources.list quedando de la siguiente manera.
</p>
<pre class="bash"><code>deb http://ftp.us.debian.org/debian/ wheezy main
deb-src http://ftp.us.debian.org/debian/ wheezy main
deb http://security.debian.org/ wheezy/updates main contrib
deb-src http://security.debian.org/ wheezy/updates main contrib
# wheezy-updates, previously known as &#39;volatile&#39;
deb http://ftp.us.debian.org/debian/ wheezy-updates main contrib
deb-src http://ftp.us.debian.org/debian/ wheezy-updates main contrib</code></pre>
<p style="padding-left:30px;">
<strong>1.3) Actualizar los paquetes de Debian 7 Wheezy</strong>.
</p>
<pre class="bash"><code>apt-get update
apt-get upgrade
apt-get dist-upgrade
reboot
lsb_release -a</code></pre>
<p style="padding-left:30px;">
Como resultado debes obtener las características de tu nuevo debian instalado (Debian 7 Wheezy )
</p>
<p style="padding-left:30px;">
<strong>2) Links que funcionan para la instlación de los siguientes programas:</strong>
</p>
<p style="padding-left:30px;">
<strong>2.1) Software R:</strong> <a href="http://www.w3schools.com">http://cran.r-project.org/bin/linux/debian/</a>
</p>
<p style="padding-left:30px;">
Añadimos el siguiente repositorio a  <code> /etc/apt/sources.list</code>.
</p>
<pre class="bash"><code># r backports
deb http://www.vps.fmvz.usp.br/CRAN/bin/linux/debian wheezy-cran3/</code></pre>
<p style="padding-left:30px;">
Ejecutamos los siguientes comando en el terminal como superusuario.
</p>
<pre class="bash"><code>apt-key adv --keyserver subkeys.pgp.net --recv-key 381BA480
apt-get update
apt-get install r-base r-base-dev</code></pre>
<p style="padding-left:30px;">
<strong>2.2) IDE Rstudio:</strong> <a href="http://www.rstudio.com/ide/download/desktop">http://www.rstudio.com/ide/download/desktop</a>
</p>
<p style="padding-left:30px;">
Instalar con GDebi Package Instaler haciendo anticlick en el paquete descargando y abriendo con GDebi.
</p>
<p style="padding-left:30px;">
<strong>2.3) Texstudio (Interface para el Editor de Textos Científicos Latex):</strong> <a href="http://packages.debian.org/wheezy/texstudio">http://packages.debian.org/wheezy/texstudio</a>
</p>
<p style="padding-left:30px;">
Instalarlo por medio del Gestor de Paquetes. Sin embargo, la instalación no está completa, para el correcto funcionamiento añadir los paquetes recomendados y sugeridos en el link de esta sección.
</p>
<p style="padding-left:30px;">
<strong>2.4) Skype:</strong> <a href="http://wiki.debian.org/skype">http://wiki.debian.org/skype</a>
</p>
<p style="padding-left:30px;">
Seguir los pasos del link, funciona y está completo.
</p>
<p style="padding-left:30px;">
<strong>2.5) Google Earth:</strong> <a href="http://diversidadyunpocodetodo.blogspot.com.es/2013/05/debian-wheezy-instalar-google-earth-64-ati-multiarch.html">http://diversidadyunpocodetodo.blogspot.com.es/2013/05/debian-wheezy-instalar-google-earth-64-ati-multiarch.html</a>
</p>
<p style="padding-left:30px;">
Seguir los pasos del link pero no considerar el siguiente código porque el paquete ia32-libs ya no está disponible:
</p>
<pre class="bash"><code>apt-get install ia32-libs</code></pre>
<p style="padding-left:30px;">
<strong>2.6) Mendeley Desktop (Gestor de bibliografías):</strong> <a href="http://www.mendeley.com/">http://www.mendeley.com/</a>
</p>
<p style="padding-left:30px;">
Instalarlo por medio del Gestor de Paquetes.
</p>
<p style="padding-left:30px;">
<strong>2.7) Dropbox:</strong> <a href="https://www.dropbox.com/">https://www.dropbox.com/</a>
</p>
<p style="padding-left:30px;">
<strong>2.8) Actualizar Iceweasel (Firefox):</strong> <a href="http://linuxgnublog.org/instalar-la-ultima-version-de-iceweasel-en-debian-wheezy/">http://linuxgnublog.org/instalar-la-ultima-version-de-iceweasel-en-debian-wheezy/</a>
</p>
<p style="padding-left:30px;">
Continuar con el link mostrado pero sólo agregar a /etc/apt/sources.list.
</p>
<pre class="bash"><code># mozilla backports
deb http://mozilla.debian.net/ wheezy-backports iceweasel-release
deb-src http://mozilla.debian.net/ wheezy-backports iceweasel-release</code></pre>
<p style="padding-left:30px;">
<strong>2.9) Actualizar Flash Player:</strong> <a href="http://permalink.gmane.org/gmane.linux.debian.user.spanish/180717">http://permalink.gmane.org/gmane.linux.debian.user.spanish/180717</a>
</p>
<p style="padding-left:30px;">
Agregar a /etc/apt/sources.list.
</p>
<pre class="bash"><code>deb http://ftp.us.debian.org/debian wheezy contrib
{% endhighlight %}
&lt;pre style=&quot;padding-left:30px;&quot;&gt;Ejecutar en la consola, como superusuario:&lt;/pre&gt;
{% highlight bash %}
apt-get update
apt-get install flashplugin-nonfree</code></pre>
<pre style="padding-left:30px;">Espero les sirva de ayuda, hasta la próxima.</pre>
