---
title: Datos sin estadística
date: 2013-06-21 14:15:52.000000000 +01:00
status: publish
categories: []
tags: []
---



<br />
<blockquote style="border:2px solid #666;padding:8px;background-color:#ccc;">
<p>
“Los datos, sin estadística, no son más que ruido y confusión.”
</p>
</blockquote>
<blockquote style="border:2px solid #666;padding:8px;background-color:#ccc;">
<p>
“Data, without statistics, it is not more than noise and confusion.”
</p>
</blockquote>
