---
title: Coursera Downloader
date: 2014-07-19 11:51:06.000000000 +01:00
type: post
published: true
status: publish
categories:
- Ciencia
- Coursera
- Education
- Informática
- Linux
- MOOC
tags:
- Ciencia
- Education
- Informática
- MOOC
---



<p style="text-align:justify;">
For people who really like to take courses in the MOOC <a title="Cousera" href="https://www.coursera.org/" target="_blank">Coursera</a>, I strongly recommend to use <a title="Coursera Downloader" href="https://github.com/coursera-dl/coursera" target="_blank">cousera-dl</a> to download a group of lecture resources (.ppt, .pdf, .mp4). You can download all the available resources or make a filter by section name, lecture name, format, others, However, the installation could be a little hard work for people who are not accostumed to Terminal or console, but it really worths. I hope it results useful for you as it was for me.
</p>
<blockquote style="border:2px solid #666;padding:8px;background-color:#ccc;">
<p style="text-align:center;">
“<a title="Coursera Downloader" href="https://github.com/coursera-dl/coursera" target="_blank">Coursera Downloader</a>”
</p>
</blockquote>
