---
title: Print eps figure with accent in matlab
date: 2014-01-17 23:27:23.000000000 +00:00
type: post
published: true
status: publish
categories:
- Data Visualization
- Debian
- Informática
- Linux
- Matlab
tags:
- Data Visualization
- Eps image
- Informática
- mapa de lima
- Matlab
- Programming
---



<p style="text-align:justify;">
Matlab is a powerfull software to plot images in different styles and formats. For this reason, researchers use it to make graphics to their papers. The eps format is one of the best to present it in papers or presentations. We usually add text in the image as the axis labels, titles or texts in certain positions. It can be done in image with arbitrary axis or in maps with latitude and longitude axis.
</p>
<p style="text-align:justify;">
However, there are problems at exporting images as .eps format when we use accent in any kind of text that was put in the image. So, here I present a way to export eps format images using LaTex option directly in matlab.
</p>
<pre class="matlab"><code>% clear all before starting
clc, clear all, close all;
% load coast and map parameters
load coast;
subplot(1,2,1)
axesm(&#39;MapProjection&#39;,&#39;pcarree&#39;,...
&#39;FLineWidth&#39;,2.5,...
&#39;Frame&#39;,&#39;on&#39;,...
&#39;MLineLocation&#39;,5,...
&#39;PLineLocation&#39;,5,...
&#39;Grid&#39;,&#39;on&#39;,...
&#39;MapLatLimit&#39;,[-21 -1],...
&#39;MapLonLimit&#39;,[-88 -69],...
&#39;MeridianLabel&#39;,&#39;on&#39;, ...
&#39;ParallelLabel&#39;,&#39;on&#39;,...
&#39;GAltitude&#39;,5,...
&#39;MLabelParallel&#39;,&#39;south&#39;);plotm(lat,long)
% plot the world coastlines in regions
patchesm(lat,long,[.7 .8 .7]);
tightmap;
% add ocean color
setm(gca,&#39;ffacecolor&#39;,[114 172 230]/255)
% add some text in latex format
textm(-9.5,-76.5,&#39;PERÚ&#39;,&#39;FontSize&#39;,16,&#39;fontWeight&#39;,&#39;bold&#39;)
textm(-12.2,-81.5,&#39;OCÉANO&#39;,&#39;FontSize&#39;,10,&#39;fontWeight&#39;,&#39;bold&#39;)
textm(-13.2,-81.5,&#39;PACÍFICO&#39;,&#39;FontSize&#39;,10,&#39;fontWeight&#39;,&#39;bold&#39;)
% add title if wished
title(&#39;LÍNEA COSTERA DE PERÚ&#39;,&#39;FontSize&#39;,14)
subplot(1,2,2)
axesm(&#39;MapProjection&#39;,&#39;pcarree&#39;,...
&#39;FLineWidth&#39;,2.5,...
&#39;Frame&#39;,&#39;on&#39;,...
&#39;MLineLocation&#39;,5,...
&#39;PLineLocation&#39;,5,...
&#39;Grid&#39;,&#39;on&#39;,...
&#39;MapLatLimit&#39;,[-21 -1],...
&#39;MapLonLimit&#39;,[-88 -69],...
&#39;MeridianLabel&#39;,&#39;on&#39;, ...
&#39;ParallelLabel&#39;,&#39;on&#39;,...
&#39;GAltitude&#39;,5,...
&#39;MLabelParallel&#39;,&#39;south&#39;);plotm(lat,long)
% plot the world coastlines in regions
patchesm(lat,long,[.7 .8 .7]);
tightmap;
% add ocean color
setm(gca,&#39;ffacecolor&#39;,[114 172 230]/255)
% add some text in latex format
textm(-9.5,-76.5,&#39;PER\&#39;&#39;{U}&#39;,&#39;FontSize&#39;,16,&#39;fontWeight&#39;,&#39;bold&#39;,&#39;interpreter&#39;,&#39;LaTex&#39;)
textm(-12.2,-81.5,&#39;OC\&#39;&#39;{E}ANO&#39;,&#39;FontSize&#39;,10,&#39;fontWeight&#39;,&#39;bold&#39;,&#39;interpreter&#39;,&#39;LaTex&#39;)
textm(-13.2,-81.5,&#39;PAC\&#39;&#39;{I}FICO&#39;,&#39;FontSize&#39;,10,&#39;fontWeight&#39;,&#39;bold&#39;,&#39;interpreter&#39;,&#39;LaTex&#39;)
% add title if wished
title(&#39;L\&#39;&#39;INEA COSTERA DE PER\&#39;&#39;U&#39;,&#39;FontSize&#39;,14,&#39;interpreter&#39;,&#39;LaTex&#39;)
% export the figure in eps format
print -depsc prueba</code></pre>
<p>
<a href="http://statisticalissues.files.wordpress.com/2014/01/perucoastline.png"><img src="/images/perucoastline.png" alt="Coastline of Peru" width="640" height="323" class="aligncenter size-full wp-image-481" /></a>
</p>
<p style="text-align:justify;">
Left image was made without using latex interpreter and right image was developed with the option LaTex interpreter. As you can see, the principal key is to add the option <code>(‘interpreter’,‘Latex’)</code> to text functions as <code>title()</code>, <code>xlabel()</code>, <code> ylabel()</code>, <code> text()</code>, <code>textm()</code>,and others. The image above is not the real resolution printed with matlab becouse I had to convert it to .png format in order to upload it to this post.
</p>
