---
title: Model-based Standardized Precipitation Index
shortitle: mbspi
date: '2015-07-23'
tags:
  - Simulation
link: https://github.com/ErickChacon/mbsi
image: software/mbspi.png
---



<p>Provide tools to compute and visualize extreme hydro-climatic events using the standardized precipitation index (SPI) and the model-based standardized index (MBSI). The package can also with work with precipitation series containing missing values (<code>NA</code>), <span class="math inline">\(0\)</span> or only non-zero values.</p>
